<!DOCTYPE html>
<html>

<head>
    <%-include('../partials/header'); %>
</head>

<body>
    <div class="conteudo" >
        <div class="container" >
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cadastar Administrador</h3>
                    <form action="/admin/cadastro/salvar" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input class="form-control" id="nome" type="text" name="nome" required>
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input class="form-control" id="cpf" type="text" name="cpf" required>
                        </div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input class="form-control" id="email" type="text" name="email" required>
                            <small class="form-text text-muted">Informe o seu e-mail como login.</small>
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input class="form-control" id="senha" type="password" name="senha" required>
                        </div>
                        <br>
                        <a class="btn btn-primary" href="/admin/painel">Painel</a>
                        <input class="btn btn-primary" type="submit" value="Salvar">
                    </form>
                </div>
            </div>
        </div>
    
    </div>

</body>

</html>