<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body  >
    <%-include('../partials/navbaradmin.ejs')%>
    
    <div class="conteudo">
        <div class="container" >
            <!-- <h3>Reboques Cadastrados</h3> -->
            <div class="lista-reboques">
                
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Bem-vido ao Painel do Administrador</h1>
                      <p class="lead">Escolha uma opção para gerenciar.</p>
                    </div>
                </div>

                <div class="card card-reserva" style="width: 45rem;">
                    <canvas id="myChart"></canvas>
                </div>
                <input type="hidden" id="dataJSON" value="<%=dataJSON%>">

            </div>
        </div>
    </div>
    <%-include('../partials/footer.ejs')%>

    <script>
        const ctx = document.getElementById('myChart');
        
        let dataJSON = document.getElementById('dataJSON')

        dataArray = JSON.parse(dataJSON.value)
      
        new Chart(ctx, {
            data: dataArray,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</body>
</html>