<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>
   
    <div class="conteudo" >
        <div class="container" >
            <div class="jumbotron jumbotron-fluid">

            <% if(formaPagamento == 'DINHEIRO') {%>
                <h1 class="display-4" >Pedido realizado! Contate a empresa para aprovar Sua reserva.</h1>
                <p class="lead">Você receberá uma mensagem por WhatsApp e E-mail quando o adminstrador aprovar sua reserva.</p>
            <% } else { %>
                <h1 class="display-4" >Parabéns! Reserva realizada com sucesso.</h1>
                <p class="lead">Verifique seu email para visualizar os dados da reserva.</p>
            <% }%>
            <% if(user != '') { %>
                <a class="btn btn-primary mt-2" href="/cliente/minhas-reservas">Minhas reservas</a>
                <a class="btn btn-primary mt-2" href="/cliente/minhas-locacoes">Minhas locações</a>
            <% } %>


                
            </div>
        </div>
    </div>



    <%-include('../partials/footer.ejs')%>
</body>
</html>