<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>
   
    <div class="conteudo" >
        <div class="container" >
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Parabéns! Reserva realizada com sucesso.</h1>
                <p class="lead">Verifique seu email para visualizar os dados da reserva.</p>
            </div>
        </div>
    </div>



    <%-include('../partials/footer.ejs')%>
</body>
</html>