<nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    
    <!-- Icone do menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
    <a class="navbar-brand " href="/">
      <img src="/img/logo_icon.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-center">
      Reboke.com
    </a>

    <!-- Icone do usuario -->
    <div class="btn-group dropstart">
      <div class="dropdown">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% if(user && (user != 'User')) { %>
          <span ><%= user %></span>
        <% } else { %>
          <span class="fa fa-user" aria-hidden="true"></span>
        <% } %>
        </button>
        
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/login">Entrar</a></li>
          <li><a class="dropdown-item" href="/cadastro">Criar conta</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/cliente/logout">Sair</a></li>
        </ul>
      </div>
    </div>




    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Reoboke.com</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Ir para Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cliente/minhas-reservas">Minhas Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Minhas Locações</a>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>



  </div>
</nav>