<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs')%>
    <!-- <script src="/js/validaCPF.js" ></script> -->
    <script src="/js/consome_viacep.js" ></script>
    <!-- <script src="/js/validar_senha.js" ></script> -->
    <script src="/js/validaDadosFormularioCadastro.js" ></script>
</head>
<body  >
    
    <%-include('./partials/navbar.ejs')%>
    
    <div class="conteudo" >
        <div class="jumbotron junbotron-fluid">
            <h1 class="display-4" >Página de cadastro</h1>
        </div>
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <!--  -->
            <form action="/cadastro/create" method="POST">
                <div class="lista-reboques">


                    <!-- Dados pessoais -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Informações Pessoais</h3>
                            <hr>
                                
                            <div class="form-group">
                                <label for="nome">Nome completo</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="nome" type="text" name="nome" minlength="5" maxlength="50" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidNome" ></span>
                                </div>
                                
                            </div>

                                         
                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="cpf" type="text" name="cpf" minlength="14" maxlength="14" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidCPF" ></span>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="telefone" type="text" name="telefone" maxlength="15" placeholder="Ex.: 53997032373" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidTelefone" ></span>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label for="cep">Nascimento</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="dataNascimento" type="date" name="dataNascimento" required >
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidDataNascimento" ></span>
                                </div>
                            </div> 

                        </div>
                    </div>


                    <!-- Dados de endereço -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Informções de Endereço</h3>
                            <hr>

                            <div class="row g-3">
                                <div class="form-group col">
                                    <label for="cep">CEP</label>
                                    <span class="text-danger"> * </span>
                                    <input class="form-control" id="cep" type="text" name="cep" minlength="9" maxlength="9" placeholder="Ex.: 96408560" required>
                                    <div class="valid-feedback">
                                        <!-- Looks good! -->
                                    </div>
                                    <div class="invalid-feedback">
                                        <span id="invalidCep"></span>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label for="numeroDaCasa">Nº da casa</label>
                                    <span class="text-danger"> * </span>
                                    <input class="form-control" id="numeroDaCasa" type="text" name="numeroDaCasa" maxlength="5" required >
                                    <div class="valid-feedback">
                                        <!-- Looks good! -->
                                    </div>
                                    <div class="invalid-feedback">
                                        <span id="invalidNumeroDaCasa"></span>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="form-group">
                                <label for="logradouro">Rua</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="logradouro" type="text" name="logradouro" placeholder="Ex.: Waltter Dias da Costa" minlength="2" maxlength="100" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidLogradouro"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="complemento">Complemento</label>
                                <input class="form-control" id="complemento" type="text" name="complemento" maxlength="200">
                                <div class="invalid-feedback">
                                    <span id="invalidComplento"></span>
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <label for="localidade">Cidade</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="localidade" type="text" minlength="3" name="localidade" maxlength="50" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidLocalidade"></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- Dados do login -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Informções de login</h3>
                            <hr>
                            <div class="form-group">
                                <label for="email">Login</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="email" type="email" name="email" >
                                <small class="form-text text-muted">Informe o seu e-mail como login.</small>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidEmail"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="senha" type="password" name="senha" >
                                <small class="form-text text-muted">No mínimo 8 dígitos.</small>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidSenha"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="senhaRepita">Repita a Senha</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="senhaRepita" type="password" name="senhaRepita" >
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidSenhaRepita"></span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-3" style="margin: 0.5rem;">
                                <button class="btn btn-secondary me-5" type="button" onclick="history.back()">Voltar</button>
                                <input class="btn btn-primary" id="botao" type="submit" value="Entrar">
                            </div>
                                            
                            <!-- <br><p style="margin: 0.5rem;" >
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </p> -->
                        </div>
                    </div>
                    <input type="hidden" id="bairro" name="bairro" value="">
                    <input type="hidden" id="uf" name="uf" value="">

                </div>
            </form>
            <!--  -->
        </div>
    </div>

    <%-include('./partials/footer.ejs')%>

</body>
</html>