<!DOCTYPE html>
<html>
<head>
    <%-include('partials/header'); %>
</head>
<body>
    <div class="container">
        <div class="conteudo" >

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Controle de Reservas</h3>
                <div class="card-body">
                    <p>Ocorreu um erro inesperado, contate o suporte.</p>
                    <div class="alert alert-danger"><strong>Mensagem: <%=mensagem%></strong></div>
                    <button class="btn btn-secondary me-3" type="button" onclick="history.back()">Voltar</button>
                    <a href="/" class="btn btn-primary">Tela Inicial</a>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html>
