<!DOCTYPE html>
<html>
<head>
    <%-include('./partials/header.ejs')%>
</head>
<body>
    <div class="container" >
        <%-include('./partials/navbar.ejs')%>
        <p class="text-muted text-right" >Usuário: <%=usuario%></p>
        <div class="jumbotron" >
            <h1>Bem-vindo ao sistema de controle de Reservas de Reboques</h1>
            <p>Selecione uma opção a cima...</p>
        </div>
    </div>
</body>
</html>