<!DOCTYPE html>
<html>

<head>
    <%-include('./partials/header.ejs'); %>
</head>

<body>
    <div class="conteudo">

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Autenticação do usuário</h3>
                    <form action="/login/entrar" method="POST">
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input class="form-control" id="email" type="text" name="email" required>
                            <small class="form-text text-muted">Nunca informe seu login e senha para estranhos.</small>
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input class="form-control" id="senha" type="password" name="senha" required>
                        </div>
                        <br>
                        <a href="/" class="btn btn-primary">Voltar</a>
                        <input class="btn btn-success" type="submit" value="Login"><br>
                        <a href="/cadastro" class="btn-link">Quero me cadastrar.</a>
                        <a href="/admin/login" class="btn-link">Sou admin.</a>
                    </form>
                </div>
            </div>
            <% if(mensagem){ %>
                <div class="alert alert-danger">
                    <strong>Alerta!</strong>
                    <%= mensagem %>
                </div>
                <% } %>
        </div>



    </div>
    <%-include('./partials/footer.ejs'); %>
</body>

</html>