/* Estilo para o corpo da página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Estilo para o conteúdo principal */
.conteudo {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    /* Ajuste esta margem conforme necessário para evitar que o conteúdo seja ocultado sob a navbar */
}


/* Estilo para os links de navegação */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0px 18px;
    /* font-size: 1.2em; */
}

/* .nav-item a:hover {
    background-color: #3d3d3d;
    font-weight: 500;
    border-radius: 10px;
} */

/* Estilo para os cards de reboque */
.lista-reboques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.ano {
    font-size: 12px;
    margin-bottom: 5px;
    color: #516067;
    font-weight: 400;
}

.titulo{
    color: #1f1f1f;
    text-transform: uppercase;
}

.card-index .titulo h3 a{
    color: #1f1f1f;
    text-decoration: none;
}

.card-reserva .titulo h3 a{
    color: #1f1f1f;
    text-decoration: none;
}

.btn,
a {
 transition-duration:.2s
}
a, button {
    outline:0!important;
    color:#2aae2a
}
*,
a {
 transition-duration:.3s;
}


.primeiro-nome:hover{
    color: #2aae2a;
}

.ultimo-nome:hover{
    color: #2aae2a;
}

.primeiro-nome{
    font-size: 14px;
    font-weight: 700;
}

.ultimo-nome{
    font-size: 13px;
    font-weight: 500;
}

.h3 {
    font-weight: 600;
    color: #252c2f;
    font-size: 18px;
}

.trucate{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price2-col{
    min-height: auto;
    max-height: none;
}

.info-cost2{
    font-size: 22px;
    font-weight: 600;
    color: #2aae2a;
    letter-spacing: -1px;
}


.vitrine-favoritos {
    padding: 0;
    position: absolute;
    right: 10px;
    bottom: 50px;
    z-index: 9;
    background-color: #fff;
    transition-duration: .2s;
}

.opicionais {
    padding: 0 10px;
    margin: 10px 0;
    color: #516067;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.box-opicionais-home {
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    gap: 3px;
}

.dark-fill {
    fill: #111 !important;
}

.card-index {
    width: 25rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0px;
    /* max-width: 300px; */
    transition: transform 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-index:hover {
    transform: scale(1.05);
    /* Aumente o tamanho ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Aumente a sombra no hover */
}

.card-index h5 {
    margin-top: 10px;
    font-size: 1.2rem;
    /* Ajuste o tamanho da fonte */
    color: #333;
    /* Cor do texto */
}

/* .card-index p {
    margin: 2px 0;
    color: #666;
} */

.card-reserva {
    width: 25rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0px;
    /* max-width: 300px; */
    transition: transform 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-top: 0.5rem;
    text-align: left;
}


/* Estilo para o link de login alinhado à direita */
.direita {
    float: right;
    /* Alinha o link à direita */
}

/* a {
    text-decoration: none;
} */








/* Estilo para o sticky footer */
.sticky-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


/* p {
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
    display: fkex;
} */

/* h3 {
    font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important;
} */

.social {
    font-size: 21px !important;
}


.color-text {
    color: #757575 !important;
}



footer {
    margin-top: 10rem;
    color: #caced1 !important;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Careers {
    cursor: pointer;
    color: #1E88E5;
}

.row-1 {
    background-color: #1E242A !important;
}

.row-2 {

    background-color: #28323C !important;
}


/* .flatpickr-calendar {
    display: flex;
    flex-wrap: wrap;
} */

/* cor da data desabilitada */
.disabled-day {
    color: rgb(0, 0, 0) !important; /* Número vermelho */
    font-weight: bold;
    position: relative; /* Para posicionar o X corretamente */
}

/* X sobre a data desabilitada */
.x-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px; /* Ajuste o tamanho do X */
    font-weight:lighter; /* Ajuste a espessura do X */
    color: red; /* Cor do X */
    pointer-events: none; /* Impede interação */
}

/* Adiciona circulo no dia desabilitado */
/* .event {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 150px;
    bottom: 3px;
    left: 6px;
    top: 8px;
    content: " ";
    background: #ee1616;
    opacity: 55%;
} */

.event.busy {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red; /* Cor do marcador */
    border-radius: 50%;
    margin-left: 5px;
}


.calendario {
    height: 60px;
}

.flatpickr-calendar {
    width: 100%;
    max-width: 100%;
}


