<!DOCTYPE html>
<html>

<head>
    <%-include('../partials/header.ejs'); %>
</head>

<body>
    <%-include('../partials/navbar.ejs'); %>
    
    <div class="conteudo">
        <!-- Menssagem do topo da página em jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Cadastre-se para receber descontos!</h1>
            <small class="form-text text-muted">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber descontos.</small>
        </div>

        <div class="container">

            
            <div class="lista-reboques" >

                
                <div class="card card-reserva" style="width: 30rem;" >
                    <div class="card-body">

                        <h3 class="card-title">Autenticação do cliente</h3>
                        <hr>
                        <form action="/cliente/entrar" method="POST">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input class="form-control" id="email" type="email" name="email" required>
                                <small class="form-text text-muted">Nunca informe seu login e senha para estranhos.</small>
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input class="form-control" id="senha" type="password" name="senha" required>
                            </div>
                            <br>
    
                            <div class="d-flex justify-content-center" style="margin: 0.5rem;">
                                <button class="btn btn-secondary me-3" type="button" onclick="history.back()">Voltar</button>
                                <input class="btn btn-primary" id="botao" type="submit" value="Entrar">
                            </div>
    
                            <!-- <a href="/" class="btn btn-secondary">Voltar</a>
                            <input class="btn btn-success" type="submit" value="Login"><br> -->
    
                            
                            
                            <div class="d-flex justify-content-center" style="margin: 0.5rem;">
                                <a href="/cliente/novo" class="btn-link me-3">Quero me cadastrar.</a>
                                <small class="form-text text-muted ms-3"><a href="/cliente/recupera-senha">Esqueci a senha</a></small>

                            </div>
                            <a href="/admin/entrar" class="btn"></a>


                            <% if(mensagem){ %>
                                <div class="alert alert-danger">
                                    <strong>Alerta!</strong>
                                    <%= mensagem %>
                                </div>
                            <% } %>
                        </form>
                    </div>
                </div>
                


            </div>
        </div>



    </div>
    <%-include('../partials/footer.ejs'); %>
</body>

</html>